<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" required minlength="2">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" required minlength="2">
            </div>
            <button type="submit">Log In</button>
        </form>
    </main>
</body>
</html>